$pink-1: #fff0f6;
$pink-2: #ffd6e7;
$pink-3: #ffadd2;
$pink-4: #ff85c0;
$pink-5: #f759ab;
$pink-6: #eb2f96;
$pink-7: #c41d7f;
$pink-8: #9e1068;
$pink-9: #780650;
$pink-10: #520339;
$primary-color: $pink-6;
$primary-1: $pink-1;
$primary-2: $pink-2;
$primary-3: $pink-3;
$primary-4: $pink-4;
$primary-5: $pink-5;
$primary-6: $primary-color;
$primary-7: $pink-7;
$primary-8: $pink-8;
$primary-9: $pink-9;
$primary-10: $pink-1;
$border-color: hsl(0deg 0% 84.7% / 40%);
$white: #fff;

// 灰色
$grey: #8d8d8d;
$grey-second: #666;
$grey-ten: #949494;

// 背景颜色
$bg-color: #eaf0f9;
$color-bg-transparent: rgb(255 255 255 / 80%);
$color-bg-transparent-secondary: rgb(255 255 255 / 20%);

// 黑色
$black: rgb(0 0 0 / 100%);
$black-secondary: rgb(0 0 0 / 70%);
$black-ten: rgb(0 0 0 / 50%);

// 红色
$red: #f5252d;
$red-secondary: #e9484f;

// 绿色
$green: #3fcda8;

// 蓝色
$blue: #396fed;

// 橙色
$orange: #f07c59;
